.vehicle-item {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.vehicle-image {
    height: 300px;
    width: 500px;
    display: block;
    margin: 0 auto;     
}

.vehicle-details {
    margin: 20px;
}

.vehicle-model{
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

i{
    margin: 10px;
}

button{
    margin-top: 20px;
    margin-left: 45%;
    margin-right: 40%;
}