<div class="vehicles-list">
    <div *ngFor="let item of vehiclesList" class="vehicle-item">
        <div class="vechicle-box">

        <img [src]="item.vehicles.image" alt="Car Image" class="vehicle-image">
        <div class="vehicle-details" (click)="viewInfo(item)">
            <div class="vehicle-model">{{item.vehicles.carModel}}</div>
            <div class="capacity"> <i class="fa-duotone fa-user"></i> Capacity : {{item.vehicles.seatingCapacity}}</div>
            <div class="cancellation-policy"> 
                <i class="fa-solid fa-check" style="color: #14c892;" *ngIf="item.vehicles.cancellationPolicy === 'available'; else template1"></i>
                <ng-template #template1>
                    <i class="fa-sharp fa-light fa-xmark" style="color: #db0037;"></i>
                </ng-template>
                Cancellation Policy</div>
            <div class="rating"> <i class="fa-sharp fa-solid fa-star"></i> Rating: {{item.vehicles.ratings[0].rating | number:'1.2-2'}}</div>
            <div class="distance"> <i class="fa-solid fa-people-arrows"></i> Distance: {{item.distance | number:'1.2-2'}}</div>
        </div>
        <div class="price-info">
            <div>Price for {{noOfDays}} days</div>
            <div>{{ noOfDays * item.vehicles.price }}</div>
            <div>Base Price: {{item.vehicles.price}}</div>
        </div>
        
    </div>
        <div class="actions">
            <span appPermissions [permissionAcess]="'update_vehicle'" (click)="updateEvent(item)">
                <i class="fa-solid fa-pen" style="color: #757575;"></i>
            </span>
            <span appPermissions [permissionAcess]="'remove_vehicle'" (click)="deleteEvent(item)">
                <i class="fa-solid fa-trash" style="color: #757575;"></i>
            </span>
            <button mat-raised-button class="button" (click)="onClick(item)" color="primary" appPermissions [permissionAcess]="'rental_car'">Choose this car</button>
        </div>
    </div>
</div>
