<div class="example-container">
    <form class="form" [formGroup]="addVehicle" (ngSubmit)="onSubmit()">

        <mat-label class="heading">Add New Vehicle</mat-label>

        <mat-divider></mat-divider>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Enter Car Model Name</mat-label>
                <input matInput formControlName="carModel" required>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Choose Seat Capacity</mat-label>
                <input matInput formControlName="seatingCapacity" type="number" required>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Choose Mileages</mat-label>      
                <input matInput formControlName="mileage" required type="number">
                <span matTextSuffix>Km</span>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Choose Fuel Capacity</mat-label>
                <input matInput formControlName="fuelCapacity" required type="number">
                <span matTextSuffix>Litre</span>
            </mat-form-field>
        </div>
        
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Choose Fuel type</mat-label>
                <mat-select formControlName="fuelType" required>
                    <mat-option value="petrol">Petrol</mat-option>
                    <mat-option value="diesel">Diesel</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Choose Insurance Coverage</mat-label>
                <mat-select formControlName="insuranceCoverage" required>
                    <mat-option value="comprehensive">Comprehensive</mat-option>
                    <mat-option value="personal addict">Personal Addict</mat-option>
                    <mat-option value="third party liable">Third-Party Liable</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Choose Cancellation Policy</mat-label>
                <mat-select formControlName="cancellationPolicy" required>
                    <mat-option value="available">Available</mat-option>
                    <mat-option value="not-available">Not Available</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Enter Rental Price</mat-label>
                <input matInput formControlName="price" required type="number" required>
            </mat-form-field>
        </div>

        <mat-label class="location">Enter Location</mat-label>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Latitude</mat-label>
                <input matInput formControlName="latitude" required>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Longitude</mat-label>
                <input matInput formControlName="longitude" required>
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="input-file-container">
                <button mat-raised-button class="input-file-button" (click)="uploadFile.click()" type="button">Choose File</button>
                <input #uploadFile class="input-file" (change)="onFileUpload($event)" type="file" multiple>
            </div>
        </div>
        <div *ngIf="fileName[0]">
            <div class="images-selected">
                Selected Images
            </div> 
            <div *ngFor="let item of fileName">
                <div>{{item}}</div>
            </div>
        </div>

        <div class="form-field-submit">
            <button mat-raised-button style="background-color: #545ff0; color:white">Add Vehicles</button>
        </div>
    </form>
</div>


