.example-container{
    margin-top: 20px;
}

.heading{
    font-size: 40px;
}

.location {
    display: flex;
    margin: 5px;
}

.input-file-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-file-button {
    padding: 8px 12px;
    background-color: #4758b8;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  
.input-file {
    display: none;
}
  
.file-name {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}  