.custom-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 450px;
  position: fixed;
}

.custom-form input {
  margin-bottom: 10px;
  padding: 8px;
}

.custom-form label {
  margin-top: 10px;
  font-weight: bold;
}

.custom-form button {
  padding: 10px;
  background-color: #545ff0;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.custom-form button:hover {
  transition: background-color, 0.2s;
  background-color: #363da0;
}

