<div class="container">
    <form class="custom-form" [formGroup]="filterDetails" (ngSubmit)="onSubmit()">
        <label>Enter your Location</label>
        <input type="text" placeholder="Enter Latitude" formControlName="latitude">
        <input type="text" placeholder="Enter Longitude" formControlName="longitude">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" formControlName="startDate">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" formControlName="endDate">
        <button>Search</button>
    </form>
</div>