.example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-image {
    display: flex;
    height: 80%;
    width: 40%;
  }
  
  .form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-label {
    color: #333;
  }
  
  mat-divider {
    margin: 16px 0;
  }
  
  button {
    width: 100%;
  }
  
  a {
    color: #2196F3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  mat-form-field {
    width: 100%;
  }

.register-naviagte {
  margin-top: 30px;
  font-size: 17px;
}