<div class="container">  
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput #input (keyup)="onFiltering($event)" (click)="onFiltering($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>   

      <ng-container matColumnDef="carModelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Car Model Name </th>
        <td mat-cell *matCellDef="let element"> {{element.carModelName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> From Date </th>
        <td mat-cell *matCellDef="let element"> {{element.fromDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="toDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> To Date </th>
        <td mat-cell *matCellDef="let element"> {{element.toDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>  

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="cancelBooking(element)" [disabled]="element.status === 'cancelled' || element.cancellationPolicy !== 'available'" [ngStyle]="{'background-color': (element.status !== 'cancelled' && element.cancellationPolicy === 'available' ? '#545ff0' : '#e0e0e0'), 'color': (element.status !== 'cancelled' &&   element.cancellationPolicy === 'available' ? 'white' : '#8b8b8b') }">Cancel</button>
        </td>    
      </ng-container>
      
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="provideRating(element)" *ngIf="element.rating === 0;else template1" style="background-color: #545ff0; color:white">Rating</button>
          <ng-template #template1>
            <div class="star-container">
              <fa-icon
                [class.rated]="element.rating >= 1"
                [icon]="faStar"
              ></fa-icon>
              <fa-icon
                [class.rated]="element.rating >= 2"
                [icon]="faStar"
              ></fa-icon>
            
              <fa-icon
                [class.rated]="element.rating >= 3"
                [icon]="faStar"
              ></fa-icon>
            
              <fa-icon
                [class.rated]="element.rating >= 4"
                [icon]="faStar"
              ></fa-icon> 
            
              <fa-icon
                [class.rated]="element.rating >= 5"
                [icon]="faStar"
              ></fa-icon>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> Vehicle Details </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button (click)="viewVehicle(element)" style="background-color: #545ff0; color:white">View</button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  

    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                    [pageIndex]="paginator.pageIndex"
                    [pageSize]="paginator.pageSize"
                    [length]="paginator.length"
                    (page)="onPageChanges($event)"
                    >
    </mat-paginator>
  </div>
    
</div>