<div class="example-container">

    <div class="profile-picture-container">

        <div class="profile-picture" *ngIf="profileData.profilePic !== ''; else template">
            <img [src]="profileData.profilePic" alt="profilePic" (click)="uploadFile.click()" height="150px" width= "180px">
            <input #uploadFile class="input-file" (change)="onFileUpload($event)" type="file">
        </div>
        
        <ng-template #template>
            <div class="profile-picture">
                <img
                    class="icon"
                    src="assets/Profile.png"
                    height="95px"
                    width="95px"
                    (click)="uploadFile.click()"
                />
                <input #uploadFile class="input-file" (change)="onFileUpload($event)" type="file">
            </div>
        </ng-template>
    </div>

    <form class="form" [formGroup]="profile" (ngSubmit)="onSubmit()">

        <mat-label class="heading">Profile Info</mat-label>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="UserName" formControlName="userName" required>
            </mat-form-field>
        </div>
        
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
            </mat-form-field>
        </div>
        
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Bio</mat-label>
                <input matInput placeholder="Bio" formControlName="bio">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter your address" formControlName="address">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter your city" formControlName="city">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput placeholder="Enter your state" formControlName="state">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>ZIP Code</mat-label>
                <input matInput placeholder="Enter your ZIP code" formControlName="zipCode">
            </mat-form-field>
        </div>

        <div class="form-field">
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </form>
</div>
